$verde1: #FCFEFC;
$verde2: #F6FAF6;
$verde3: #EBF5EB;
$verde4: #DFEEDE;
$verde5: #D0E5CF;
$verde6: #BED9BD;
$verde7: #A5C8A5;
$verde8: #83B182;
$verde9: #669966;
$verde10: #5A8C5A;
$verde11: #487948;
$verde12: #283828;

$cinza1: #FCFCFD;
$cinza2: #F9F9FB;
$cinza3: #EFF0F3;
$cinza4: #E7E8EC;
$cinza5: #E0E1E6;
$cinza6: #D8D9E0;
$cinza7: #CDCED7;
$cinza8: #B9BBC6;
$cinza9: #8B8D98;
$cinza10: #80828D;
$cinza11: #62636C;
$cinza12: #1E1F24;