.box {
    display: flex;
    height: 8rem;
    align-items: center;
    padding-left: 2rem;
    cursor: pointer;

    .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transition: .2s;
    }

    &:hover .arrow {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
}