.card {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  width: 100%;
  border: 3px solid $verde4;
  justify-content: space-between;

  h2 {
    margin-right: .5rem;
  }

  &_formacao, &_temas {
    padding: 2rem;
    border: 3px solid $verde4;
    width: 100%;
    border-radius: 2rem;

    button {
      height: auto;
      padding: .8rem 2rem;
      border: none;
      font-size: 1.6rem;
      font-weight: 600;
      color: white;
      border-radius: 2rem;
      cursor: pointer;
      transition: 0.2s;
      margin: 0;
    }

    .lista_temas {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    li {
      border: none;
      padding: 0;
      display: flex;
      gap: 2rem;

      .periodo {
        min-width: 100px;

        p {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      p {
        max-width: 700px;
        line-height: 2rem;
      }

      strong {
        font-weight: 600;
      }
    }
    
    .titulo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 1.8rem;
      font-weight: 600;
      color: $cinza11;
      align-items: center;
      margin-bottom: 2rem;
    
      a {
        display: none;
      }
    
      button:nth-child(1) {
        width: 0;
        height: 0;
        background-color: white;
      }
    
      button:nth-child(2), button:nth-child(3), button:nth-child(4), button:nth-child(5), button:nth-child(6) {
        background-color: white;
        color: $cinza12;
        font-size: 1.5rem;
        font-weight: 400;
        padding: .5rem 1rem;
        border-radius: 0 0 3px 3px;
    
        &:hover {
          background-color: #f3f4f6;
        }
      }
    
      .icon {
        display: flex;
        align-items: center;
      }
    }

  }

  &_temas {
    .titulo {
      margin-bottom: 0;
    }

    ul {
      gap: 0;
    }
  }

  &_tema, &_temas {
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    border: 3px solid $verde4;

    p {
      margin: 2rem 0;
    }

    button {
      width: 100%;
      height: auto;
      padding: .8rem 2rem;
      border: none;
      font-size: 1.6rem;
      font-weight: 600;
      color: white;
      border-radius: 2rem;
      cursor: pointer;
      transition: 0.2s;
      margin: 0;
    }

    .tema {
      display: flex;
      border-radius: 16px;
      border: 3px solid $verde4;
      margin-top: 2rem;
    
      .tema_content {
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    
        .title {
          width: 100%;
          display: grid;
          grid-template-columns: 9fr 1fr;
          align-items: center;
          font-size: 1.8rem;
          font-weight: 600;
          color: $cinza11;

          a {
            display: none;
          }

          button {
            background-color: white;
            color: $cinza12;
            font-size: 1.5rem;
            font-weight: 400;
            padding: .5rem 1rem;
            border-radius: 0 0 3px 3px;

            &.solicitar {
              background-color: $verde9;
              border-radius: 2rem;
              color: white;
              font-weight: 600;

            &:hover {
              background-color: $verde11;
            }
            }

            &:hover {
              background-color: #f3f4f6;
            }
          }
        }
    
        .keywords {
          font-size: 1.4rem;
          color: #666;
        }
    
        .description {
          max-width: 850px;
          font-size: 1.4rem;
          line-height: 1.8rem;
          color: #444;
        }
    
        .status {
          font-size: 1.4rem;
          padding: 4px 8px;
          border-radius: 12px;
          background-color: $verde4;
          color: $verde11;
          width: fit-content;
        }
      }
    }
    
  }

  &_orientador {
    width: 100%;
    padding: 2rem;
    border: 3px solid $verde4;
    border-radius: 20px;
    box-sizing: border-box;

    button {
      width: 100%;
      height: auto;
      padding: .8rem 2rem;
      border: none;
      font-size: 1.6rem;
      font-weight: 600;
      color: white;
      border-radius: 2rem;
      cursor: pointer;
      transition: 0.2s;
      margin: 0;
    }

    h2 {
      margin-bottom: 2rem;
    }

    .card_perfil {
      width: calc(100% - 4rem - 6px);
    }

    p {
    
    &.status {
      font-size: 1.4rem;
      padding: 4px 8px;
      border-radius: 12px;
      background-color: $verde4;
      color: $verde11;
      width: fit-content;
    }
  }
}

  form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }

}