@import "../styles/variaveis";

.container {
    width: calc(100% - (400px + 32rem));
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $verde9;
    align-items: center;
    justify-content: center;

    section {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 100%;
        height: 100vh;
        border-radius: 4rem 0 0 4rem;

        .alerta {
            box-sizing: border-box;
            position: fixed;
            top: 2rem;
            right: 2rem;
            font-size: 1.3rem;
            font-weight: 500;
            padding: 1.5rem;
            border-radius: 5px;
            transition: .3s;

            &.error {
                background-color: $vermelho4;
                color: $vermelho9;
                border: 2px solid $vermelho9;
            }
          }
    }
}