@import "../../styles/variaveis";

.container {
    display: flex;
}

.barra_lateral {
    background-color: $verde9;
    height: calc(100vh - 2.4rem);
    padding: 1.2rem 0;

    .logo {
        padding: 0 16rem;
    }

    .imagem {
        height: calc(100vh - 8rem);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}